<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>Reach at..</h4>
          <div class="contact_link_box">
            <a target="_blank" href="<%= data.location %>">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Location </span>
            </a>
            <a href="tel:<%= data.phonenumber %>">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> <%= data.phonenumber %> </span>
            </a>
            <a target="_blank" href="<%= data.github_link %>">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> Karim </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="/" class="footer-logo"> Info </a>
          <p>
            All of our contact information is complete and active. You can contact us any way you want
          </p>
          <div class="footer_social">
            <a target="_blank" href="<%= data.facebook_link %>">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="<%= data.twitter_link %>">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="<%= data.linkedin_link %>">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="<%= data.instagram_link %>">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="<%= data.pinterest_link %>">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</footer>
